<h1>Login</h1>
<form action="/login" method="post">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password">
    </div>
    <button type="submit">Login</button>
</form>
<span>Go to: </span><a href="/register">Register</a>