<h1>Register</h1>
<form action="/register" method="post">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password">
    </div>
    <button type="submit">Register</button>
</form>
<span>Go to: </span><a href="/login">Login</a>